<% include partials/header.ejs %>
    <div style="overflow-x:auto;">        
        <% if (managers.length > 0) {%>
            <table class="table table-hovered">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Action</th>
                </tr>
                <tbody>
                    <% managers.forEach((manager, index) => { %>
                        <tr>
                            <th scope="row"><%= manager.id %></th>
                            <td><%= manager.first_name %></td>
                            <td><%= manager.last_name %></td>
                            <td>
                                <a href="/edit/<%= manager.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= manager.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No managers found. Go <a href="/add" >here</a> to add managers.</p>
        <% } %>
    </div>
</div>
</body>
</html>